version: '3.8'

services:
  web:
    build: .
    ports:
      - "443:5000"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 20s
      timeout: 5s
      retries: 3
